[Unit]
Description=Problem 2 Webapp service
After=network-online.target

[Service]
Type=simple
User={{ prob2_service_user }}
Group={{ prob2_service_user }}

Restart=on-failure
WorkingDirectory={{ prob2_service_root }}

ExecStart={{ prob2_service_root }}/dist/example-webapp-linux

[Install]
WantedBy=multi-user.target
